/*Declaração de variável*/
:root{
    --vermelho: #E50914;
    --preto: #141414;
}

/*reset as configurações do navegador no css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--preto);
    font-family: 'Arial', Times, serif;
    color: white;
}

/*Configurações base*/

header .conteiner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* trabalha com os itens na linha distribuindo de acordo com as opções*/
}

header .logo{
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

/* elemento 'hover' ação ao passar o mouse*/
header nav a:hover{
    color: #fff;
}

/*Filme Princípal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50) 100%), url('/img/capa-house.jpg');
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column; /*passando o elemento display flex para coluna*/
    justify-content: center; /*centraliza o elemento do flex*/
    align-items: flex-start; /* alinha os elemento da esqueda para a direita*/
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}
.botao{
    background-color: rgba(0, 0, 0, 50%);
    border: none;
    color: white;

    padding:15px 10px;
    margin-right: 11px;
    font-size: 12px;

    cursor: pointer;
    transition: 3s ease all;
} 

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 5px;
}

.conteiner{
    margin-left: 20px;
}

.filme-principal .conteiner{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrossel-filme{
    margin-top: 5px;
}